---
- name: Fail on unsupported platforms
  ansible.builtin.fail:
    msg: "This role is not supported on Windows"
  when: ansible_os_family == "Windows"

# The ccache packages for Ubuntu <= 18.04 are too old and there are no newer backports
- name: Force ccache to be built by source on older Ubuntu systems
  ansible.builtin.set_fact:
    ccache_install_type: "build"
  when: >
    ansible_distribution == 'Ubuntu' and ansible_distribution_major_version | int <= 18

- name: Include tasks to build ccache from source on Unix
  ansible.builtin.import_tasks:
    file: "unix/build-sources.yml"
  when: ccache_install_type == "build"

- name: Include tasks to install ccache from GitHub release
  ansible.builtin.import_tasks:
    file: "unix/install-github-release.yml"
  when: ccache_install_type == "github"

- name: Include tasks to install ccache from package on Mac
  ansible.builtin.include_tasks: "darwin/install-package-{{ ansible_pkg_mgr }}.yml"
  when:
    - ccache_install_type == "package"
    - ansible_os_family == "Darwin"

- name: Include tasks to install ccache from package on Debian-based Linux
  ansible.builtin.include_tasks: "debian/install-package-{{ ansible_pkg_mgr }}.yml"
  when:
    - ccache_install_type == "package"
    - ansible_os_family == "Debian"

- name: Include tasks to create ccache symlinks
  ansible.builtin.import_tasks:
    file: "symlink.yml"
  when: ccache_install_type != "package"

- name: Include tasks to configuration ccache
  ansible.builtin.import_tasks:
    file: "configure.yml"
